@media (orientation: landscape) {
    div.icon{width: 50vh; height: 50vh;}
}
@media (orientation: portrait) {
    div.icon{width: 50vw; height: 50vw;}
}
@media (max-width: 600px) {
    div.icon{width: 50vw; height: 50vw;}
}
body{padding: 0; margin: 0; order: 1;}
div.bg{background: url(bg.jpg); background-size: cover; background-repeat: no-repeat;
    filter: blur(8px); -webkit-filter: blur(8px); height: 100vh; width: 100vw;}
img.icon{width: 100%; height: 100%; order:2;}
div.outer{display: table; position: absolute; top: 0; left: 0; height: 100vh; width: 100vw;
    order:3;}
div.icon_wrap{display: table-cell; vertical-align: middle;}
div.icon{margin-left: auto; margin-right: auto; border-style: solid; border-radius: 50%;
overflow: hidden; border-width: 15px; border-color: pink;}